appnope==0.1.0
boto==2.39.0
decorator==4.0.9
Django==1.9.4
django-bootstrap-pagination==1.6.1
django-mailbox==4.4.6
django-redis==4.3.0
django-s3-storage==0.9.8
gnureadline==6.3.3
ipython==4.1.2
ipython-genutils==0.1.0
path.py==8.1.2
pexpect==4.0.1
pickleshare==0.6
ptyprocess==0.5.1
redis==2.10.5
simplegeneric==0.8.1
six==1.10.0
traitlets==4.1.0
