{% extends "base_application_template.html" %}

{% load bootstrap_pagination %}

{% block content %}


<div class="container app-container">
	<h1>Application list</h1>
	<div class="row">
		<div class="col-md-12">
			<table class="table table-hover table-striped table-bordered ">
				<tr class="">
					<th>Name</th>
					<th>University</th>
					<th>Position</th>
					<th>Company</th>
					<th>Score</th>
					<th>Action</th>
				</tr>
				<tbody >
				{% for app in applications %}
				<tr>
					<td>{{app.name}}</td>
					<td>{{app.university}}</td>
					<td>{{app.position}}</td>
					<td>{{app.company}}</td>
					<td>{{app.score}}</td>
					<td><a href="">View</a></td>
				</tr>
				{% endfor %}
				</tbody>
			</table>
		</div>
		<div class="text-center">
        {% bootstrap_paginate applications range=10 show_prev_next="false" show_first_last="true" %}
        </div>
	</div>
</div>
{% endblock content %}