{% extends "base_application_template.html" %}
{% load bootstrap_pagination %}
{% block content %}
<div class="container app-container">
	{% for app in applications %}
	<h2>
		{% for voter in app.get_vote_list %}
			{% if voter.user.id == request.user.id %}
			<span class="glyphicon glyphicon-check" aria-hidden="true"></span>	
			{% endif %}
		{% endfor %}
	 {{app.name}}</h2>
	<h3>{{app.get_vote}} vote</h3>
	<div>
		<div class="text-center">
			<div>
				<a href="{% url 'application_vote_urls' app.id 1 %}{{next}}" class="btn btn-primary">1 : Absolutely Yes</a>
				<a href="{% url 'application_vote_urls' app.id 2 %}{{next}}" class="btn btn-primary">2 : Maybe Yes</a>
				<a href="{% url 'application_vote_urls' app.id 3 %}{{next}}" class="btn btn-primary">3 : Maybe No</a>
				<a href="{% url 'application_vote_urls' app.id 4 %}{{next}}" class="btn btn-primary">4 : Not At All</a>
			</div>
	        {% bootstrap_paginate applications range=3 show_prev_next="true" show_first_last="true" %}
	    </div>
	</div>
	<div class="row">
		<div class="col-md-4">
			<p>Position : <br />{{app.position}}</p>
			<p>Company : <br />{{app.company}}</p>
			<p>University : <br />{{app.university}}</p>
			<p>Major : <br />{{app.major}}</p>
			<p>Semester year : <br />{{app.semester_year}}</p>
			<p>GPA : <br />{{app.gpa}}</p>

			<ul>
			{% for voter in app.get_vote_list %}
				<li>{{voter.user.id}}</li>	
			{% endfor %}
			</ul>
		</div>
		<div class="col-md-8">
			{{app.get_content|safe}}
		</div>
		<div class="text-center">
			{% if not app.is_voted %}
			<div>
				<a href="{% url 'application_vote_urls' app.id 1 %}{{next}}" class="btn btn-primary">1 : Absolutely Yes</a>
				<a href="{% url 'application_vote_urls' app.id 2 %}{{next}}" class="btn btn-primary">2 : Maybe Yes</a>
				<a href="{% url 'application_vote_urls' app.id 3 %}{{next}}" class="btn btn-primary">3 : Maybe No</a>
				<a href="{% url 'application_vote_urls' app.id 4 %}{{next}}" class="btn btn-primary">4 : Not At All</a>
			</div>
			{% endif %}
	        {% bootstrap_paginate applications range=3 show_prev_next="true" show_first_last="true" %}
        </div>
	</div>
	{% endfor %}
</div>
{% endblock content %}